Package: com.khronos.golang
Priority: optional
Name: Go
Version: 1.13.6-1
Section: Scripting
Architecture: iphoneos-arm
Depends: com.khronos.sdk
Conflicts: com.mc.golang
Pre-Depends: dpkg
Maintainer: Khronos
Homepage: https://golang.org
Tag: purpose::console
Description: Compiled for ARM64.
	Open source programming language to build simple/reliable/efficient software.
