Package: com.khronos.python3.8
Priority: optional
Name: Python 3.8
Version: 3.8.1-1
Section: Scripting
Architecture: iphoneos-arm
Depends: com.khronos.bzip2, com.khronos.libressl, com.khronos.expat, com.khronos.gdbm, com.khronos.libffi, com.khronos.xz, com.khronos.ncurses, com.khronos.readline, com.khronos.sqlite3, com.khronos.zlib
Pre-Depends: dpkg
Maintainer: Khronos
Homepage: https://www.python.org
Tag: purpose::console
Description: Compiled for ARM64.
	Python is a programming language that lets you work quickly and integrate systems more effectively.
